<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQocP2YoQDIdvrmig03IEZ0cZgAYobqOg</string>
	<key>GCM_SENDER_ID</key>
	<string>421219415106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fernando.marins.Ciganus</string>
	<key>PROJECT_ID</key>
	<string>ciganus-25083</string>
	<key>STORAGE_BUCKET</key>
	<string>ciganus-25083.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421219415106:ios:4ac260ba2a1a9cc90de9db</string>
</dict>
</plist>